%% -*- erlang
{erl_opts, [
    debug_info,
    warnings_as_errors
]}.

{port_specs, [
    {"priv/gusion_example_drv.so", ["c_src/gc_example_drv.c", "c_src/example.c"]}
]}.

{port_env, [
    {"DRV_LDFLAGS", "$DRV_LDFLAGS -L/usr/lib/erlang/lib/erl_interface-3.7.14/lib/ -lerl_interface -lei"}
]}.
%% vim:syntax=erlang
